[submodule "external/llama-factory"]
	path = external/llama-factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "external/lmms-eval"]
	path = external/lmms-eval
	url = https://github.com/EvolvingLMMs-Lab/lmms-eval.git
